.cart-container section h1 {
    display: flex;
    justify-content: center;
    padding: 2.5vh;
    border-bottom: 1px solid #eee;
    letter-spacing: 1em;
    font-style: italic;
}

@media screen and (min-width: 1024px){
    .cart-container section h1 {
        font-size: 2vw;
    }
}