@import '../../assets/colors.scss';

ul .container-type-product {
    background-color: $primaryColor;
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    border-radius: 25px;
    width: 100%;

    li {
        a {
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    ul .container-type-product {
        background: linear-gradient($primaryColor, transparent);
        border-radius: 0;
        font-size: .85em;
        top: 50px;
        height: 200px;
        flex-direction: row;
        padding-left: 3em;

        li a {
            letter-spacing: .25em;
        }
    }
}