@import '../../assets/colors.scss';

.total-to-pay {
    margin: 17vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        font-weight: bold;
        font-style: italic;

        span {
            background-color: $primaryColor;
            color: $tertiaryColor;
        }
    }
}