@import '../../assets/colors.scss';

.cart-icon {
    position: relative;
    margin-top: 12.5px;
    transition: .5s scale;
    margin-top: 0;
    
    span {
        position: absolute;
        top: -25%;
        right: -25%;
        background: $tertiaryColor;
        color: $primaryColor;
        border-radius: 50%;
        height: 1.5em;
        width: 1.5em;
        font-weight: bold;
    }
}

@media screen and (min-width: 1024px) {
    .cart-icon {
        margin-top: 12.5px;
        margin-right: 25px;

        &:hover {
            scale: 1.1;
        }
    }
}