@import '../../assets/colors.scss';

.cart-container div {
    h1 {
        display: flex;
        justify-content: center;
        padding: 2.5vh;
        border-bottom: 1px solid #eee;
        letter-spacing: 1em;
        font-style: italic;
    }

    .total-to-pay {
        margin: 17vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            font-weight: bold;
            font-style: italic;
        
            span {
                background-color: $primaryColor;
                color: $tertiaryColor;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .cart-container section h1 {
        font-size: 2vw;
    }
}