@import '../../assets/colors.scss';

.checkout-form {
    margin-bottom: 1em;
    
    input {
        width: 90%;
        padding: .75em;
        margin: .6em;
        font-weight: bold;
        border: 1px solid $tertiaryColor;
    }
}

.p-checkout-form {
    font-weight: bold;
    padding: 1em;
}

@media screen and (min-width: 1023px){
    .checkout-form {
        margin: 1em auto 4em;
        
        input {
            width: 50%;
        }
    }
}