@import '../../assets/colors.scss';

.home-container a, .home-container h1 {
    background-image: url('../../assets/img/home-gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12.5vw;
    -webkit-text-stroke: 2px $tertiaryColor;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-container a {
    font-weight: 900;
    text-decoration: none;
}

section {
    .banner-all, .banner-men, .banner-women {
        -webkit-text-stroke: 2px $primaryColor;
    }

    .banner-men {
        background-image: url('../../assets/img/banner-men.jpg');
    }

    .banner-women {
        background-image: url('../../assets/img/banner-women.jpg');
    }

    .banner-all {
        background-image: url('../../assets/img/banner-all.jpg');
    }
}