.home-container {
    display: grid;
    grid-template-rows: repeat(4, 90vh);
}

@media screen and (min-width: 1024px) {
    .home-container {
        grid-template-columns: 50%;
        grid-template-rows: repeat(4, 90vh);

        h1 {
            padding-left: 50vw;
            -webkit-text-stroke: 3px hsl(163, 100%, 62%);
            position: relative;

            &::before{
                content: 'shophender';
                position: absolute;
                color: #000;
                z-index: -1;
                font-style: italic;
            }
        }

        .bannerLeft, .bannerRight {
            -webkit-text-stroke: 3px #000;

            &::before {
                content: '';
                height: 75px;
                width: 1000px;
                position: absolute;
                top: 50%;
                z-index: -1;
                background: -webkit-linear-gradient(360deg,#fff, hsl(163, 100%, 62%),#fff);
            }
        }

        .bannerLeft {
            padding-left: 50vw;
            position: relative;
        }

        .bannerRight {
            padding-right: 50vw;
            position: absolute;
            width: 50%;
            height: 90%;
            right: 0;
        }
    }
}