@import '../../assets/colors.scss';

.checkout {
    text-align: center;
    margin-bottom: 3em;

    h1 {
        border-bottom: 1px solid #eee;
        letter-spacing: 1em;
        font-style: italic;
        padding: 2.5vh;
        text-transform: uppercase;
    }

    article {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
        border-bottom: 1px solid #eee;
        padding: 2em;

        p span {
            text-transform: uppercase;
        }

        .price-per-quantity {
            color: $tertiaryColor;
            background: $primaryColor;
        }
    }

    .checkout-total {
        margin: 2em 0;
        padding: 1em;
        font-weight: 800;
        font-style: italic;
        color: $tertiaryColor;
        background: $primaryColor;
        clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 30%);
    }

    .not-register {
        padding: 1em;
        margin: 4em 0;
        font-weight: bold;
    }
}

@media screen and (min-width: 1023px){
    .checkout {
        position: relative;
        overflow: hidden;

        &::before{
            content: 'CHECKOUT';
            position: absolute;
            top: -125px;
            left: 0;
            right: 0;
            font-size: 15em;
            font-weight: 900;
            font-style: italic;
            opacity: .025;
            width: 100vw;
        }

        .checkout-total {
            clip-path: none;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            font-size: 1.5em;
            padding: 1.5em;
            clip-path: polygon(100% 0, 100% 60%, 0 100%, 0 40%);
        }
    }
}