@import '../../assets/colors.scss';

.checkout {
    text-align: center;
    margin-bottom: 5em;

    .checkout-title {
        border-bottom: 1px solid #eee;
        letter-spacing: 1em;
        font-style: italic;
        padding: 2.5vh;
        text-transform: uppercase;
    }

    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        border-bottom: 1px solid #eee;
        padding: 2em .5em;

        p span {
            text-transform: uppercase;
        }
        
        .price-per-quantity {
            margin-left: 1em;
            color: $tertiaryColor;
            background: $primaryColor;
        }
    }

    .checkout-total {
        position: relative;
        font-size: 1.25em;
        font-weight: 700;
        font-style: italic;
        margin: 3em 0;

        &::before{
            content: 'TOTAL A PAGAR';
            position: absolute;
            top: -.4em;
            left: 0;
            right: 0;
            font-size: 2.2em;
            color: $secondaryColor;
            opacity: .25;
            font-weight: 900;
            -webkit-text-stroke: 2px $fourthColor;
        }
    }

    .checkout-form {
        margin-bottom: 1em;
        
        input {
            width: 90%;
            padding: .75em;
            margin: .6em;
            font-weight: bold;
            border: 1px solid $tertiaryColor;
        }

        .p-error {
            font-size: .75em;
            color: $fourthColor;
            margin: -.25em 0 .75em;
        }
    }

    .confirm-buy-btn {
        width: 90%;
        padding: 1em .5em;
        letter-spacing: .5em;
        border: 1px solid $primaryColor;
        background-color: $secondaryColor;
        font-weight: 900;
        display: flex;
        justify-content: center;
        margin: 5em auto 0;

        img {
            width: 1.5em;
        }
    }

    .p-checkout {
        font-weight: bold;
        text-transform: uppercase;
    }
}

.buy-completed {
    margin: 40vh 0;
    padding: 1em;
    text-align: center;
    margin-top: 15em;

    p {
        padding: 1em;
    }
}

@media screen and (min-width: 760px){
    .buy-completed {
        margin: 42.5vh 0;

        .checkout-title {
            font-size: 4em;
        }

        p {
            font-size: 2em;
        }
    }

    .checkout .checkout-total {
        margin: 5em 0;
        font-size: 2em;
    }
}

@media screen and (min-width: 1023px){
    .checkout {
        position: relative;
        overflow: hidden;

        &::before{
            content: 'CHECKOUT';
            position: absolute;
            top: -125px;
            left: 0;
            right: 0;
            font-size: 15em;
            font-weight: 900;
            font-style: italic;
            opacity: .025;
            width: 100vw;
        }

        article {
            padding: 2em 10em;
        }

        .p-checkout {
            margin-top: 5em;
        }

        .checkout-total {
            font-size: 2em;
            margin: 2.5em 0 0;

            &::before{
                font-size: 4em;
                top: -.5em;
            }
        }

        .checkout-form {
            margin: 1em auto 4em;
            
            input {
                width: 50%;
            }
        }

        .confirm-buy-btn {
            width: 50%;
            cursor: pointer;
            transition: .5s all;
            
            img {
                transition: .5s border-radius, .5s background-color;
            }

            &:hover {
                color: $secondaryColor;
                background-color: $primaryColor;
                scale: 1.1;
                letter-spacing: .5em;

                img {
                    background: $secondaryColor;
                    border-radius: 50%;
                }
            }
        }
    }

    .buy-completed {
        margin: 35vh 0;
    }
}