@import '../../assets/colors.scss';

.footer-container {
    height: 100px;
    background:hsl(163, 100%, 62%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    p {
        font-size: 1em;
        font-weight: bold;
    }

    .developed-by {
        color: $fourthColor;

        a {
            color: $fourthColor;
        }
    }
}