@import '../../assets/colors.scss';

.search {
    text-align: center;
    font-style: italic;
    background: $primaryColor;
    color: $tertiaryColor;
    padding: .5em;
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
}

.container-list-items .container-item-list {
    padding-bottom: 1em;
}

@media screen and (min-width: 1023px){
    .container-list-items .container-item-list {
        padding: 1em;
    }
}