@import '../../assets/colors.scss';

.search {
    background: none;
    color: $primaryColor;
    opacity: .05;
    font-size: 1.75em;
    padding-top: 1em;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-style: italic;
}

.container-list-items .container-item-list {
    padding-bottom: 1em;
}

.load-products {
    display: flex;
    margin: 0 auto 5em;
    padding: 1em 2em;
    background-color: $secondaryColor;
    border: 1px solid $primaryColor;
    box-shadow: 5px 5px $tertiaryColor;
    font-weight: bold;
}

.not-cursor-pointer {
    box-shadow: 5px 5px $fourthColor;
}

@media screen and (min-width: 760px) {
    .search {
        font-size: 3em;
    }
}

@media screen and (min-width: 1023px){
    .container-list-items .container-item-list {
        padding: 1em;
    }

    .search {
        padding-top: 0;
        font-size: 5em;
    }

    .load-products{
        transition: .5s background-color, .5s color, .5s scale, .5s box-shadow;
        cursor: pointer;
        box-shadow: none;

        &:hover {
            background-color: $primaryColor;
            color: $secondaryColor;
            scale: 1.1;
            box-shadow: 5px 5px $tertiaryColor;
        }
    }

    .not-cursor-pointer {
        cursor: default;
        box-shadow: none;

        &:hover {
            box-shadow: 5px 5px $fourthColor;
        }
    }
}