@import '../../assets/colors.scss';

.auth-container {
    display: flex;
    justify-content: center;

    p {
        color: $tertiaryColor;
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }

    h1 {
        color: $tertiaryColor;
        margin-top: 20vh;
        padding: 1em;
        text-align: center;
        
        strong {
            text-transform: uppercase;
            font-style: italic;
            font-weight: 900;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        margin-top: 20vh;
        width: 80%;
        
        & > *{
            margin: .5em;
            padding: .5em;
        }

        input {
            border: 1px solid $tertiaryColor;
            background: $primaryColor;
            color: $tertiaryColor;
            font-weight: bold;
        }

        button {
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-content: center;
            
            img {
                margin-left: .5em;
                width: 1.5em;
            }
        }

        .sign-in {
            background: $tertiaryColor;
            color: $primaryColor;
            border: none;
        }

        .log-in {
            color: $tertiaryColor;
            background: $primaryColor;
            border: 1px solid $tertiaryColor;
        }
    }
}

.changeToWhite {
    background: $secondaryColor;

    input {
        background: $secondaryColor;
        color: $primaryColor;
    }

    button {
        border: none;
    }

    p {
        color: $primaryColor;
    }
}

@media screen and (min-width: 767px){
    .auth-container {
        h1 {
            margin-top: 30vh;
            font-size: 2.5em;
        }

        form {
            margin-top: 25vh;
        }
    }
}

@media screen and (min-width: 1023px){
    .auth-container {
        p {
            font-size: 1.5em;
        }

        form {
            width: 60%;
            margin-top: 15vh;

            input, button {
                width: 75%;
                margin-left: auto;
                margin-right: auto;
            }
        
            button {
                cursor: pointer;
                transition: .5s scale;
                
                &:hover {
                    scale: 1.1;
                }
            }
        }

        h1 {
            margin-top: 25vh;
        }
    }
}