@import '../../assets/colors.scss';

.container-item-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vw;

    img {
        width: 90%;
    }

    h1, span {
        padding: 0 .25em;
        margin: .25em auto;
    }

    h1 {
        background: $tertiaryColor;
        font-style: italic;
        width: 75%;
        color: $primaryColor;
    }

    span {
        letter-spacing: .25em;
        font-weight: bold;
        background: $primaryColor;
        color: $tertiaryColor;
    }

    p {
        margin-top: 1em;
        font-weight: bold;
        position: relative;
    }

    a {
        text-decoration: none;
    }
}

@media screen and (min-width: 1024px) {
    .container-item-detail {
        flex-direction: row;
        justify-content: center;

        img {
            width: 40%;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            font-size: 1.25em;

            p {
                font-weight: 500;
                font-size: .9em;
            }
        }
    }
}