@import '../../assets/colors.scss';

.container-item-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vw;

    img {
        width: 90%;
    }

    h1, span {
        padding: 0 .25em;
        margin: .25em auto;
    }

    h1 {
        background: $tertiaryColor;
        font-style: italic;
        width: 75%;
        color: $primaryColor;
        text-transform: uppercase;
    }

    span {
        letter-spacing: .25em;
        font-weight: bold;
        background: $primaryColor;
        color: $tertiaryColor;
    }

    p {
        margin-top: 1em;
        font-weight: bold;
        position: relative;
    }

    a {
        text-decoration: none;
    }
}

.p-item-detail {
    margin-top: 2.5em;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    font-style: italic;
    letter-spacing: .5em;
    color: $secondaryColor;
    background: $primaryColor;
    clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 30%);
}

@media screen and (min-width: 1023px) {
    .container-item-detail {
        flex-direction: row;
        justify-content: center;

        img {
            width: 40%;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            font-size: 1.25em;

            p {
                font-weight: 500;
                font-size: .9em;
            }
        }
    }

    .p-item-detail {
        background: none;
        color: $primaryColor;
        clip-path: none;
        position: relative;

        &::before{
            content: 'COMPLETA TU OUTFIT';
            position: absolute;
            top: -.25em;
            left: 0;
            right: 0;
            font-size: 3.5em;
            color: $secondaryColor;
            opacity: .25;
            -webkit-text-stroke: 2px $fourthColor;
        }
    }
}